html, body {
  width: 100%;
  margin: 0;
  background-color: black;
  font-family: sans-serif;
  color: white;
}

#weatherList {
  width: 45%;
  position: absolute;
  left: 50%;
  top: 50%;
}

.wSection {
  vertical-align: text-top;
  width: 100%;
  line-height: 100%;
}

.wTime, .forecast {
  padding: 5px;
  width: 70%;
  display: inline-block;
  vertical-align: top;
  line-height: 100%;
  margin-top: 10px;
}

.wTime {
  width: 20%;
}

#quoteWrap {
  width: 35%;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

#quote {
  font-style: italic;
}

#clock {
  font-size: 120pt;
  text-align: center;
}
#date {
  font-size: 50pt;
  text-align: center;
}

#compliment {
  width: 40%;
  margin: 5%;
}