
.event-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  --eventheight: 300px;
  padding-top: calc(50vh - var(--eventheight)/2);
  z-index: 1;
  display: none;
}


.calendar-event {
  z-index: 1;
  margin: 0 auto;
  width: 300px;
  height: var(--eventheight);
  border: solid black 1px;
  border-radius: 25px;
  text-align: center;
  background-color: white;
}


@media screen and (max-width: 640px) {
  .calendar-event {
    width: 90%;
  }
}